<form action="CommitAcceptanceConfigure.jspa" method="post">

<table class="jiraform maxWidth">

<tr>
    <td class="jiraformheader" colspan="2">
        <h3 class="formtitle">Subversion / CVS Commit Acceptance</h3>
    </td>
</tr>
<tr>
    <td class="jiraformheader" colspan="2">
        Some explanation here.
    </td>
</td>

<tr bgcolor="#ffffff">
	<td class="jiraformbody" width="1%" nowrap>
    	<input type="checkbox" name="mustHaveIssue" value="true" #if ($mustHaveIssue) checked="checked" #end/>
	</td>
	<td>
		Commit message must contain issue key(s)<br/>
		<span class="small">If it doesn't contain any, the commit will be rejected.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td class="jiraformbody" width="1%" nowrap>
	    <input type="checkbox" name="mustBeUnresolved" value="true" #if ($mustBeUnresolved) checked="checked" #end/>
	</td>
	<td>	    	
	    Issue must be in <b>UNRESOLVED</b><br/>
		<span class="small">If any of the related issues does not match it, the commit will be rejected.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td class="jiraformbody" width="1%" nowrap>            
		<input type="checkbox" name="mustBeAssignedToCommiter" value="true" #if ($mustBeAssignedToCommiter) checked="checked" #end/>
	</td>
	<td>		
		Issue must be assigned to the committer<br/>
        <span class="small">If any of the related issue is unsassigned or assigned to someone else, the commit will be rejected.</span>    	
	</td>
</tr>

<tr bgcolor="#ffffff">
	<td class="jiraformfooter fullyCentered" colspan="2">
		<input type="submit" name="submitted" value="Save Changes"/>
	</td>
</tr>

</table>

</form>
