<html>

<head>
	<title>Version Control Commit Rules</title>
	<meta name="decorator" content="admin" />
	<script language="JavaScript" type="text/javascript">
		function onCommitAcceptanceProjectSelectorChange() {
			if(rulesFormChanged && !confirm("There are unsaved changes in the rule configuration.\nDo you really want to change to the other project?")) {
				document.commitAcceptanceSettingsForm.reset();
			} else {
				document.commitAcceptanceSettingsForm.submit();
			}
		}

		function onUseGlobalRulesChange() {
			useGlobalRules = document.commitAcceptanceSettingsForm.useGlobalRules.checked;

			document.commitAcceptanceSettingsForm.mustHaveIssue.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.mustBeUnresolved.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.mustBeAssignedToCommiter.disabled = useGlobalRules;

			onRulesFormChange();
		}

		var rulesFormChanged = false;
		function onRulesFormChange() {
			rulesFormChanged = true;
		}
	</script>
</head>

<body>

<form name="commitAcceptanceSettingsForm" action="CommitAcceptanceConfigure.jspa" method="post">
<table class="jiraform maxWidth">
	<tr>
	    <td class="jiraformheader" colspan="2">
	        <h3 class="formtitle">Version Control Commit Rules</h3>
	    </td>
	</tr>
	<tr>
	    <td class="jiraformheader" colspan="2">
		    The VCS Commit Acceptance plugin allows you to disallow commits to your version control repository
		    based on certain rules defined here. When you attempt a new commit to your repository, pre-commit
		    scripts (see <a href="http://confluence.atlassian.com/display/JIRAEXT/Commit+Acceptance+Plugin">docs</a>) will
		    contact JIRA and process the commit info and log message based on the criteria below.<br/>
		    You can configure global (site-wide) rules and refer to those from the actual projects, or configure
			project specific rules separately for any of your JIRA projects.
	    </td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" colspan="2">
			<b>Project:</b>
	    	<select name="projectKey" onChange="return onCommitAcceptanceProjectSelectorChange()">
	    		<option value="">Global</option>
	    		<optgroup label="Projects">
	    			#foreach($project in $projects)
		    			<option value="${project.key}" #if($project.key == $projectKey) selected="true" #end >[$project.key] ${project.name}</option>
		    		#end
	    		</optgroup>
	    	</select>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="instructions" width="1%" nowrap>
	    	<input type="checkbox" name="useGlobalRules" value="true" #if($useGlobalRules) checked="checked" #end #if($projectKey == "") disabled #end onChange="onUseGlobalRulesChange()" />
		</td>
		<td class="instructions">
			Use the global rules for this project.<br/>
	   		<span class="small">NOTE: uncheck it to configure specific rules for this project.</span>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" colspan="2">
			<b>Rules:</b>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" width="1%" nowrap>
	    	<input type="checkbox" name="mustHaveIssue" value="true" #if($mustHaveIssue) checked="checked" #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" />
		</td>
		<td>
			The log message must contain a valid JIRA issue key(s).
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" width="1%" nowrap>
		    <input type="checkbox" name="mustBeUnresolved" value="true" #if($mustBeUnresolved) checked="checked" #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" />
		</td>
		<td>
		  All issues referenced in the log message must be <b>UNRESOLVED</b>.
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" width="1%" nowrap>
			<input type="checkbox" name="mustBeAssignedToCommiter" value="true" #if($mustBeAssignedToCommiter) checked="checked" #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" />
		</td>
		<td>
			All issues referenced in the log message must be assigned to the committer.<br/>
	   		<span class="small">NOTE: Your VCS usernames must match your JIRA usernames.</span>
		</td>
	</tr>

	<tr bgcolor="#ffffff">
		<td class="jiraformfooter fullyCentered" colspan="2">
			<input type="submit" name="submitted" value="Update Rules"/>
		</td>
	</tr>
</table>
</form>

</body>
</html>
