<html>

<head>
	<title>Version Control Commit Rules</title>
	<meta name="decorator" content="admin" />
	<script language="JavaScript" type="text/javascript">
		function onCommitAcceptanceProjectSelectorChange() {
			if(rulesFormChanged && !confirm("$action.getText('commitacceptance.prompt.unsavedConfig')\n$action.getText('commitacceptance.prompt.changeProject')")) {
				document.commitAcceptanceSettingsForm.reset();
			} else {
				document.commitAcceptanceSettingsForm.submit();
			}
		}

		function onUseGlobalRulesChange() {
			useGlobalRules = document.commitAcceptanceSettingsForm.useGlobalRules.checked;

			document.commitAcceptanceSettingsForm.mustHaveIssue.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.mustBeUnresolved.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.mustBeAssignedToCommiter.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.acceptIssuesFor_onlyForThis.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.acceptIssuesFor_oneForThis.disabled = useGlobalRules;
			document.commitAcceptanceSettingsForm.acceptIssuesFor_any.disabled = useGlobalRules;

			onRulesFormChange();
		}

		var rulesFormChanged = false;
		function onRulesFormChange() {
			rulesFormChanged = true;
		}
	</script>
</head>

<body>

<form name="commitAcceptanceSettingsForm" action="CommitAcceptanceConfigure.jspa" method="post">
<table class="jiraform maxWidth">
	<tr>
	    <td class="jiraformheader" colspan="2">
	        <h3 class="formtitle">$i18n.getText("commitacceptance.title.versionCommitRules")</h3>
	    </td>
	</tr>
	<tr>
	    <td class="jiraformheader" colspan="2">
		    <p>$i18n.getText("commitacceptance.description.0")</p>
		    <p>$i18n.getText("commitacceptance.description.1")</p>
	    </td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" colspan="2">
			<strong>$i18n.getText("commitacceptance.field.projectKey.label")</strong>
	    	<select name="projectKey" onChange="return onCommitAcceptanceProjectSelectorChange()">
	    		<option value="">$i18n.getText("commitacceptance.field.projectKey.values.global")</option>
	    		<optgroup label="$i18n.getText('commitacceptance.field.projectKey.values.group.project')">
	    			#foreach($project in $projects)
		    			<option value="${project.key}" #if($project.key == $projectKey) selected="true" #end >[$project.key] ${project.name}</option>
		    		#end
	    		</optgroup>
	    	</select>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="instructions fieldLabelArea" width="1%" nowrap>
	    	<input type="checkbox" name="useGlobalRules" value="true" #if($useGlobalRules) checked="checked" #end #if($projectKey == "") disabled #end onChange="onUseGlobalRulesChange()" />
		</td>
		<td class="instructions fieldValueArea">
			$i18n.getText("commitacceptance.field.useGlobalRules.label")<br/>
	   		<span class="small">$i18n.getText("commitacceptance.field.useGlobalRules.description")</span>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="jiraformbody" colspan="2">
			<strong>$i18n.getText("commitacceptance.rules")</strong>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="fieldLabelArea" width="1%" nowrap>
	    	<input type="checkbox" name="mustHaveIssue" value="true" #if($mustHaveIssue) checked="checked" #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" />
		</td>
		<td class="fieldValueArea">
			$i18n.getText("commitacceptance.field.mustHaveIssue.label")
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="fieldLabelArea" width="1%" nowrap>
		    <input type="checkbox" name="mustBeUnresolved" value="true" #if($mustBeUnresolved) checked="checked" #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" />
		</td>
		<td class="fieldValueArea">
			$i18n.getText("commitacceptance.field.mustBeUnresolved.label")
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td class="fieldLabelArea" width="1%" nowrap>
			<input type="checkbox" name="mustBeAssignedToCommiter" value="true" #if($mustBeAssignedToCommiter) checked="checked" #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" />
		</td>
		<td class="fieldValueArea">
			$i18n.getText("commitacceptance.field.mustBeAssignedToCommiter.label")<br/>
	   		<span class="small">$i18n.getText("commitacceptance.field.mustBeAssignedToCommiter.description")</span>
		</td>
	</tr>
	<tr>
		<td class="fieldLabelArea" width="1%" nowrap>
			$i18n.getText("commitacceptance.issues")
		</td>
		<td class="fieldValueArea">
			<input type="radio" name="acceptIssuesFor" value="0" id="acceptIssuesFor_onlyForThis" #if($acceptIssuesFor == 0) checked #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" /><label for="acceptIssuesFor_onlyForThis">$i18n.getText("commitacceptance.field.acceptIssuesFor.values.onlyForThisProject")</label>
			&nbsp;
			<input type="radio" name="acceptIssuesFor" value="1" id="acceptIssuesFor_oneForThis" #if($acceptIssuesFor == 1) checked #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" /><label for="acceptIssuesFor_oneForThis">$i18n.getText("commitacceptance.field.acceptIssuesFor.values.atLeastOneMustBeForThisProject")</label>
			&nbsp;
			<input type="radio" name="acceptIssuesFor" value="2" id="acceptIssuesFor_any" #if($acceptIssuesFor == 2) checked #end #if(($projectKey != "") && $useGlobalRules) disabled #end onChange="onRulesFormChange()" /><label for="acceptIssuesFor_any">$i18n.getText("commitacceptance.field.acceptIssuesFor.values.acceptForAnyProject")</label>
			#if($projectKey == "")
				<br/>
				<span class="small">$i18n.getText("commitacceptance.field.acceptIssuesFor.description")</span>
			#end
		</td>
	</tr>

	<tr bgcolor="#ffffff">
		<td class="jiraformfooter fullyCentered" style="padding-top: 10px;" colspan="2">
			<input type="submit" name="submitted" value="$i18n.getText('commitacceptance.button.updateRules')"/>
		</td>
	</tr>
</table>
</form>

</body>
</html>
